logfiles/*
*~
.#*
\#*\#
*.vspx
*.psess
*.suo
*.smt2
*.sav
*.hints.fsval
*.hints.mlval
*.bench
dump*
cache/
/VS/packages


_build/

*.native
*.byte

queries*.smt2
transcript
dump

# ignore .ml files on the root dir

*.cmi
*.cmo
*.cmx
*.cma
*.cmxs
*.cmxa
*.o
fstar.install
._fstar.install

.depend
.depend.rsp
._depend
*.a
*.cmxa
*.so
*.annot

tags

*~
*.swp

*.exe

*.checked
*.checked.lax
*.dump
*.runlim

/.nubuild
/nucache/
/nuobj/
nubuild.log
nubuild.progress


# devcontainer temp files
/.devcontainer_build.log

*.pyc
*.log